body {
    background-color: #ada0f8;
    color: rgb(0, 0, 0);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}

button {
    background-color: #0004ff;
    color: rgb(0, 0, 0);
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: bold;
    width: 200px;
    height: 80px;
    font-size: 20px;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
    border:thin solid;
    color:rgb(186, 143, 255);
    padding-top: 30px; 
}

header {
    font-size: 32px;
    color: rgb(0, 0, 0);
    padding-top: 50px;
    margin:0;
  }